/libvirt-nodes/.terraform.lock.hcl
/libvirt-nodes/.terraform/
/libvirt-nodes/terraform.tfstate
/libvirt-nodes/terraform.tfstate.backup
/matchbox-assets/flatcar/
/matchbox/.terraform.lock.hcl
/matchbox/.terraform/
/matchbox/terraform.tfstate
/matchbox/terraform.tfstate.backup
/scripts/kubernetes-certificates/ca.crt
/scripts/kubernetes-certificates/ca.crt.hash
/scripts/kubernetes-certificates/ca.key
/scripts/matchbox-certificates/ca.crt
/scripts/matchbox-certificates/ca.key
/scripts/matchbox-certificates/client.crt
/scripts/matchbox-certificates/client.key
/scripts/matchbox-certificates/index.txt
/scripts/matchbox-certificates/index.txt.attr
/scripts/matchbox-certificates/index.txt.attr.old
/scripts/matchbox-certificates/index.txt.old
/scripts/matchbox-certificates/newcerts/
/scripts/matchbox-certificates/serial
/scripts/matchbox-certificates/serial.old
/scripts/matchbox-certificates/server.crt
/scripts/matchbox-certificates/server.key
