/scripts/tls/ca.crt
/scripts/tls/ca.key
/scripts/tls/client.crt
/scripts/tls/client.key
/scripts/tls/index.txt
/scripts/tls/index.txt.attr
/scripts/tls/index.txt.attr.old
/scripts/tls/index.txt.old
/scripts/tls/newcerts/
/scripts/tls/serial
/scripts/tls/serial.old
/scripts/tls/server.crt
/scripts/tls/server.key
/terraform.tfstate
/terraform.tfstate.backup
/.terraform.lock.hcl
/.terraform/
/assets/flatcar/
/matchbox/.terraform.lock.hcl
/matchbox/.terraform/
/matchbox/terraform.tfstate
/matchbox/terraform.tfstate.backup
/matchbox/assets/flatcar/
/infrastructure/.terraform.lock.hcl
/infrastructure/.terraform/
/infrastructure/terraform.tfstate
/infrastructure/terraform.tfstate.backup
/scripts/kubernetes/ca.crt
/scripts/kubernetes/ca.crt.hash
/scripts/kubernetes/ca.key
/matchbox-assets/flatcar/
