*/.terraform.lock.hcl
*/.terraform/
*/terraform.tfstate
*/terraform.tfstate.backup
/kubernetes-certificates/ca.crt
/kubernetes-certificates/ca.crt.hash
/kubernetes-certificates/ca.key
/matchbox-assets/flatcar/
/matchbox-certificates/ca.crt
/matchbox-certificates/ca.key
/matchbox-certificates/client.crt
/matchbox-certificates/client.key
/matchbox-certificates/server.crt
/matchbox-certificates/server.key
/nodes.json
/variables.json
